@import 'tailwindcss';

@plugin 'daisyui' {
    themes: newlight --default;
    root: ":root";
    logs: true;
}

@plugin "daisyui/theme" {
    name: "newlight";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.001 106.423);
    --color-base-200: oklch(97% 0.001 106.424);
    --color-base-300: oklch(92% 0.003 48.717);
    --color-base-content: oklch(21% 0.006 56.043);
    --color-primary: oklch(63% 0.237 25.331);
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(58% 0.233 277.117);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(14% 0.004 49.25);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}


@plugin '@tailwindcss/forms' {
    strategy: 'class',
}
@plugin '@tailwindcss/typography';

@source './src/**/*.rs';
@source '../shared/src/components/**/*.rs';


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}