layout {
    pane split_direction="horizontal" {
        pane split_direction="vertical" {
            pane {
                name "Shell"
                borderless false
            }
            pane {
                command "docker"
                args "compose" "up" "db"
                name "Postgres Database (Container)"
                borderless false
            }
        }
        pane split_direction="vertical" {
            pane {
                command "bacon"
                args "run"
                cwd "./backend"
                name "Portfolio Backend (Local)"
                borderless false
            }
            pane {
                command "dx"
                args "serve" "--package" "frontend" "--port" "3000" "--addr" "0.0.0.0"
                cwd "./frontend"
                name "Portfolio Frontend (Local)"
                borderless false
            }
        }
    }
}
