layout {
    pane split_direction="vertical" {
        pane
        pane {
            command "docker"
            args "compose" "up" "db"
            name "Postgres Database (Container)"
            borderless false
        }
    }
    pane split_direction="vertical" {
        pane {
            command "docker"
            args "compose" "up" "--build" "--watch" "dev-backend"
            cwd "./backend"
            name "Portfolio Backend (Container)"
            borderless false
        }
        pane {
            command "docker"
            args "compose" "up" "--build" "--watch" "dev-frontend"
            cwd "./frontend"
            name "Portfolio Frontend (Container)"
            borderless false
        }
    }
}
