@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-primary: #893E8E;
    --ui-secondary: #552396;
    --ui-tertiary: #8EC14E;
    --ui-quarternary: #DBC9F3;
    --ui-quinary: #D78C50;
    --ui-light-monochrome: #6629B4;
    --ui-medium-monochrome: #441B78;
    --ui-dark-monochrome: #18092A;
    --ui-bg: var(--color-grey-bg-600);
    --ui-bg-muted: var(--color-black-highlight-600);
}

@theme static {
    --color-primary-purple-50: #F9E7FB;
    --color-primary-purple-100: #EEB0F2;
    --color-primary-purple-200: #E271E9;
    --color-primary-purple-300: #BE43C5;
    --color-primary-purple-400: #892E8E;
    --color-primary-purple-500: #571A5B;
    --color-primary-purple-600: #2A082C;

    --color-secondary-purple-50: #F2EFFD;
    --color-secondary-purple-100: #D9CDF8;
    --color-secondary-purple-200: #B99FF1;
    --color-secondary-purple-300: #9B6EE9;
    --color-secondary-purple-400: #7F36DC;
    --color-secondary-purple-500: #552296;
    --color-secondary-purple-600: #2E0F56;

    --color-tertiary-green-50: #AEEC61;
    --color-tertiary-green-100: #8EC14E;
    --color-tertiary-green-200: #6F983C;
    --color-tertiary-green-300: #52712B;
    --color-tertiary-green-400: #364C1A;
    --color-tertiary-green-500: #1D2B0B;
    --color-tertiary-green-600: #0B1303;

    --color-quarternary-purple-50: #F4EFFB;
    --color-quarternary-purple-100: #DBC9F3;
    --color-quarternary-purple-200: #BE99E9;
    --color-quarternary-purple-300: #A468DD;
    --color-quarternary-purple-400: #823DBB;
    --color-quarternary-purple-500: #57267E;
    --color-quarternary-purple-600: #2E1146;

    --color-quinary-burnt-orange-50: #FAE9E0;
    --color-quinary-burnt-orange-100: #F2B794;
    --color-quinary-burnt-orange-200: #D78C50;
    --color-quinary-burnt-orange-300: #A66B3C;
    --color-quinary-burnt-orange-400: #774B28;
    --color-quinary-burnt-orange-500: #4B2E17;
    --color-quinary-burnt-orange-600: #231307;

    --color-light-monochrome-50: #E7E0FB;
    --color-light-monochrome-100: #C6B2F4;
    --color-light-monochrome-200: #A782EE;
    --color-light-monochrome-300: #8B4EE5;
    --color-light-monochrome-400: #6629B4;
    --color-light-monochrome-500: #3E1671;
    --color-light-monochrome-600: #190533;

    --color-medium-monochrome-50: #EDE8FB;
    --color-medium-monochrome-100: #CBBAF4;
    --color-medium-monochrome-200: #AC8BEC;
    --color-medium-monochrome-300: #8F58E3;
    --color-medium-monochrome-400: #6D2FBB;
    --color-medium-monochrome-500: #441B7B;
    --color-medium-monochrome-600: #1F093B;

    --color-dark-monochrome-50: #E8E1F6;
    --color-dark-monochrome-100: #C7B4EA;
    --color-dark-monochrome-200: #A866DD;
    --color-dark-monochrome-300: #8B57CD;
    --color-dark-monochrome-400: #64379A;
    --color-dark-monochrome-500: #3D1F60;
    --color-dark-monochrome-600: #18092A;

    --color-grey-bg-50: #EDECED;
    --color-grey-bg-100: #C7C3C8;
    --color-grey-bg-200: #A29CA3;
    --color-grey-bg-300: #7D767F;
    --color-grey-bg-400: #59545A;
    --color-grey-bg-500: #373438;
    --color-grey-bg-600: #181719;


    --color-neutral-black-50: #F1F1F1;
    --color-neutral-black-100: #C8C8C8;
    --color-neutral-black-200: #A1A1A1;
    --color-neutral-black-300: #7C7C7C;
    --color-neutral-black-400: #595959;
    --color-neutral-black-500: #383838;
    /* Main */
    --color-neutral-black-600: #1A1A1A;
    --color-black-highlight-50: #F1F1F1;
    --color-black-highlight-100: #CFCFCF;
    --color-black-highlight-200: #A8A8A8;
    --color-black-highlight-300: #838383;
    --color-black-highlight-400: #5F5F5F;
    --color-black-highlight-500: #3E3E3E;
    /* Main */
    --color-black-highlight-600: #1F1F1F;
    /* Main */
    --color-turquoise-accent-50: #32EFEF;
    --color-turquoise-accent-100: #27C4C4;
    --color-turquoise-accent-200: #1C9A9A;
    --color-turquoise-accent-300: #127373;
    --color-turquoise-accent-400: #094D4D;
    --color-turquoise-accent-500: #032B2B;
    --color-turquoise-accent-600: #011414;
    /* Main */
    --color-grey-accent-50: #E6E6E6;
    --color-grey-accent-100: #BEBEBE;
    --color-grey-accent-200: #989898;
    --color-grey-accent-300: #737373;
    --color-grey-accent-400: #505050;
    --color-grey-accent-500: #303030;
    --color-grey-accent-600: #121212;
    /* Main */
    --color-white-accent-50: #FFFFFF;
    --color-white-accent-100: #D6D6D6;
    --color-white-accent-200: #AFAFAF;
    --color-white-accent-300: #898989;
    --color-white-accent-400: #656565;
    --color-white-accent-500: #434343;
    --color-white-accent-600: #242424;
    --color-dark-red-accent-50: #F8E7E8;
    --color-dark-red-accent-100: #EBB5B9;
    --color-dark-red-accent-200: #E27F87;
    /* Main */
    --color-dark-red-accent-300: #CE4857;
    --color-dark-red-accent-400: #94313C;
    --color-dark-red-accent-500: #5E1C24;
    --color-dark-red-accent-600: #2D090D;
    --color-medium-red-accent-50: #F4DEE0;
    --color-medium-red-accent-100: #E6ADB2;
    /* Main */
    --color-medium-red-accent-200: #DB7883;
    --color-medium-red-accent-300: #BD4A59;
    --color-medium-red-accent-400: #86323D;
    --color-medium-red-accent-500: #521B23;
    --color-medium-red-accent-600: #23080B;
    --color-light-red-accent-50: #F4DADD;
    --color-light-red-accent-100: #E8A8AF;
    /* Main */
    --color-light-red-accent-200: #DF7080;
    --color-light-red-accent-300: #BD4458;
    --color-light-red-accent-400: #852D3C;
    --color-light-red-accent-500: #501821;
    --color-light-red-accent-600: #24070B;
    --color-red-grey-accent-50: #F1F0F0;
    --color-red-grey-accent-100: #CCC7C8;
    --color-red-grey-accent-200: #A99FA1;
    --color-red-grey-accent-300: #87797C;
    --color-red-grey-accent-400: #615659;
    --color-red-grey-accent-500: #3D3638;
    --color-red-grey-accent-600: #1D191A;
}